<p><%= link_to "フォーラムへ戻る", forum_path(@respost.forum_id) %></p>
<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title text-center">
                <strong>書き込み 編集フォーム</strong>
            </h1>
        </div>
        <div class="panel-body">
        <%= form_for(@respost) do |f| %>
            <%= render 'shared/error_messages', object: f.object %><%# バリデーションのエラーメッセージ %>
            <div class="form-group">
                <%#= f.hidden_field :forum_id, value: @forum.id %>
                <%#= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :replaytime, value: DateTime.now %><%# 最終更新日 %>
                <%= f.hidden_field :forum_id, value: @respost.forum_id %>
                <%= f.label :title, "タイトル" %><br />
                <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :content, "本文" %><br />
                <%= f.text_area :content, class: "form-control", rows: 8 %>
            </div>
                <%= f.submit "編集する", class: "btn btn-sm btn-primary" %>
        <% end %>
    </div>
</div>