forum_id:<%= @forum.id %><br />
user_id:<%= current_user.id %><br />
@forum.inspect:<%= @forum.inspect %><br />
<hr />

<div class="col-sm-8 col-sm-offset-2">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title text-center">
    <strong><%= @forum.title %></strong><small class="pull-right">フォーラムタイトル</small>
    </h1>
  </div>
  <div class="panel-body">
    <%= @forum.description %>
  </div>
</div>
</div>

<div class="col-sm-8 col-sm-offset-2">
<div class="panel panel-success">
  <div class="panel-heading">
    <h1 class="panel-title text-center">
    <strong>書き込みフォーム</strong>
    </h1>
  </div>
  <div class="panel-body">
    <% if false %>
        <%# 直接コントローラーとアクションを指定する方法でも可能 %>
        <%= form_for(@respost, :url => {:controller => 'resposts', :action => 'create'}) do |f| %>
            <%= f.label :title, "タイトル" %><br />
            <%= f.text_field :title, class: "input-xlarge" %><br />
            <%= f.label :content, "本文" %><br />
            <%= f.text_area :content, class: "input-xlarge" %><br />
            <%= f.submit class: "btn btn-sm btn-primary" %>
        <% end %>
    <% end %>
    <%= form_for(@respost) do |f| %>
        
        <%= render 'shared/error_messages', object: f.object %><%# バリデーションのエラーメッセージ %>

        <div class="form-group">
            <%= f.hidden_field :forum_id, value: @forum.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.label :title, "タイトル" %><br />
            <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :content, "本文" %><br />
            <%= f.text_area :content, class: "form-control", rows: 8 %>
        </div>
        <% if current_user.handlename.present? %>
          <%= f.submit "投稿する", class: "btn btn-sm btn-primary" %>
        <% else %>
            <p>あなたのハンドルネームがまだ設定されていません。<br/>
            投稿する前に以下のページでハンドルネームを設定してください。<br />
            ハンドルネームが設定されている場合、『投稿ボタン』が表示されます。
            </p>
            <%= link_to 'ユーザー情報編集', edit_user_registration_path %>
        <% end %>
    <% end %>
  </div>
</div>
</div>

<%# 投稿された書き込み ここから ####################################################### %>
<% @resposts.each do |t| %>
<div class="col-sm-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title text-center">
                <strong><%= t.title %></strong><small class="pull-right">post_id:<%= t.id %></small>
            </h1>
        </div>
        <div class="panel-body">
            <% user = @users.find_by(id: t.user_id) %>
            <% if user.present? %><%# 投稿したユーザーの存在をチェック %>
                <div class="col-sm-4">
                    投稿者：<strong><%= user.handlename %></strong> さん
                </div>
            <% else %><%# 投稿者がデータベースに存在しなければ %>
                <div class="col-sm-4">
                    投稿者が退会済です
                </div>            
            <% end %>
            <div class="col-sm-4">
                <%# d = t.created_at %>
                投稿日：<%= t.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>  
            </div>
            <div class="col-sm-4">
                <% if t.updated_at != t.created_at %><%# 投稿が編集されていれば編集日を表示する %>
                編集日：<%= t.updated_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
                <% end %>
            </div>
            <!-- <p>&nbsp;</p> -->
            <div class="col-sm-12">
                <p>
                    <%= t.content %>
                </p>
            </div>
            <!-- <p>&nbsp;</p> -->
            <div class="col-sm-12">
                <p><%= link_to "返信", new_replaypost_path(forum_id: @forum.id, respost_id: t.id, user_id: current_user.id) %>
                    <% if current_user.id == t.user_id || current_user.admin? %><%# 投稿者本人のみ編集・削除を可能とする %>
                         | <%= link_to "書き込みを編集する",edit_respost_path(t.id) %> | 
                        <%#= link_to "削除", t, class: "btnlink btnlink-danger glyphicon glyphicon-trash",
                            method: :delete, data: {confirm: "本当に削除してもいいですか？"} %>
                        <%# destroyアクションにforum_idというパラメータを渡して、投稿削除後にこのページへリダイレクトさせる %>
                        <%= link_to "削除", respost_path(t.id, forum_id: @forum.id), class: "btnlink btnlink-danger glyphicon glyphicon-trash",
                            method: :delete, data: {confirm: "本当に削除してもいいですか？"} %>
                    <% end %>
                </p>
            </div>

            <%# 返信された書き込み ここから ####################################################### %>
            <% @replaypost = @replayposts.where(respost_id: t.id) %>
            <%# if false %>
            <% @replaypost.each do |replaypost| %>
            <div class="col-sm-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">
                            <strong><%= replaypost.title %></strong><small class="pull-right">replay_id:<%= replaypost.id %></small>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <% user = @users.find_by(id: replaypost.user_id) %>
                        <% if user.present? %><%# 投稿したユーザーの存在をチェック %>
                            <div class="col-sm-4">
                                返信者：<strong><%= user.handlename %></strong> さん
                            </div>
                        <% else %><%# 投稿者がデータベースに存在しなければ %>
                            <div class="col-sm-4">
                                返信者が退会済です
                            </div>            
                        <% end %>
                        <div class="col-sm-4">
                            <%# d = t.created_at %>
                            返信日：<%= replaypost.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>  
                        </div>
                        <div class="col-sm-4">
                            <% if replaypost.updated_at != replaypost.created_at %><%# 投稿が編集されていれば編集日を表示する %>
                            編集日：<%= replaypost.updated_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
                            <% end %>
                        </div>
                        <!-- <p>&nbsp;</p> -->
                        <div class="col-sm-12">
                            <p>
                            <%= replaypost.content %>
                            </p>
                        </div>
                        <!-- <p>&nbsp;</p> -->
                        <div class="col-sm-12">
                            <p>
                                <% if current_user.id == replaypost.user_id || current_user.admin? %><%# 投稿者本人のみ編集・削除を可能とする %>
                                    <%= link_to "返信を編集する",edit_replaypost_path(replaypost.id) %> | 
                                    <%#= link_to "削除", t, class: "btnlink btnlink-danger glyphicon glyphicon-trash",
                                        method: :delete, data: {confirm: "本当に削除してもいいですか？"} %>
                                    <%# destroyアクションにforum_idというパラメータを渡して、投稿削除後にこのページへリダイレクトさせる %>
                                    <%= link_to "削除", replaypost_path(replaypost.id, forum_id: @forum.id), class: "btnlink btnlink-danger glyphicon glyphicon-trash",
                                        method: :delete, data: {confirm: "本当に削除してもいいですか？"} %>
                                <% end %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <%# end %>
            <%# 返信された書き込み ここまで ####################################################### %>

        </div><%# panel-body %>
    </div>
</div>
<% end %>
<%# 投稿された書き込み ここまで ####################################################### %>

<%# kaminariによるページネーション表示 %>
<div align="center">
    <%= paginate @resposts %>
</div>
