<!-- <h2>Forgot your password?</h2> -->
<h2>パスワードを忘れましたか？</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <p>パスワードを忘れた場合は、登録済みのメールアドレスを入力して送信ボタンを押して下さい。</p>
  <p>パスワードをリセットする方法についての詳細メールをお送りいたします。</p>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%#= f.submit "Send me reset password instructions" %>
    <%= f.submit "送信" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
