<% content_for(:head) do %>
    <%= javascript_include_tag 'fixed_midashi.js' %>
    <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="robots" content="noimageindex" />
    <meta name="googlebot" content="noimageindex" />
    <meta name="robots" content="nosnippet">
    <!--<style>
    div.code {background-color: #c0c0c0; width: 400px;}
    div.wrap {width: 600px;}
    </style>-->
    <script>
    $(function() {
      $('#sorter').tablesorter();
    });
    </script>
    <style type="text/css" media="screen">
    div.scroll_div { overflow: auto; }
    </style>
<% end %>

<% content_for(:body) do %>
  <body onLoad="FixedMidashi.create();">
<% end %>

<h1 class="h3">ドメイン一覧 Domains#index</h1>
<div class="scroll_div">
<table _fixedhead="rows:1; cols:1" id="sorter" class="table-bordered tablesorter">
  <thead>
    <tr>
      <th class="domain">ドメイン</th>
      <th class="pr">PR</th>
      <th class="blsyousai">BL<br />詳細</th>
      <th class="wayback">wayback</th>
      <th class="cheki">SEO<br />チェキ</th>
      <th class="index_count"><div class="tate-area" style="font-size:6pt;"><div class="tate-line">Index</div></div></th>
      <th class="dofollow_pr">Do<br />follow<br />PR数</th>
      <th class="nofollow_pr">No<br />follow<br />PR数</th>
      <th class="ip_bunsanritsu"><div class="tate-area" style="font-size:6pt;"><div class="tate-line">IP分散率</div></div></th>
      <th class="ip_unique_count"><div class="tate-area" style="font-size:6pt;"><div class="tate-line">重複しないIP数</div></div></th>
      <th class="ip_all_count"><div class="tate-area" style="font-size:6pt;"><div class="tate-line">全IP数</div></div></th>
      <th class="china"><div class="tate-area" style="font-size:6pt;"><div class="tate-line">中国リンク</div></div></th>
      <!-- <th><div class="tate-area" style="font-size:6pt;"><div class="tate-line">要注意</div></div></th> -->
      <th class="moz_rank"><div class="tate-area" style="font-size:6pt;"><div class="tate-line">MOZ・Rank</div></div></th>
      <th class="moz_da"><div class="tate-area" style="font-size:6pt;"><div class="tate-line">MOZ・DA</div></div></th>
      <th class="moz_pa"><div class="tate-area" style="font-size:6pt;"><div class="tate-line">MOZ・PA</div></div></th>
      <!-- <th><div class="tate-area" style="font-size:6pt;"><div class="tate-line">Ahr・DR</div></div></th> -->
      <!-- <th><div class="tate-area" style="font-size:6pt;"><div class="tate-line">Ahr・BLD</div></div></th> -->
      <th class="awy">AWY</th>
      <th>その他</th>
    </tr>
  </thead>
  <tbody>
  <% each_count = 0 %>    
  <% @domains.each do |d| %>
  
    <%# このドメインのバックリンクのURLを全て取得して一つにまとめる処理 ここから ###################################### %>
    <% backlinks = @backlinks.where(domain: d.name) %><%# このドメインnameを持つ全てのバックリンクオブジェクトを格納 %>
    <% backlink_urls = "" %><%# 変数を空として初期化 %>
    <% backlinks.each do |b| %>
      <% backlink_urls = backlink_urls + b.bl_url %><%# 文字列として繋げていき、最終的には一つにまとめる %>
    <% end %>
    <%# このドメインのバックリンクのURLを全て取得して一つにまとめる処理 ここまで ###################################### %>

    <%# バックリンクの種類判定の処理 ここから ############################################### %>
    <% etc = "" %><%# その他 %>
    <% wikipedia = "" %>
    <% china = "" %>
    <% or_ = "" %>
    <% facebook = "" %>
    <% twitter = "" %>
    <% gov = "" %>
    <% edu = "" %>
    <% museum = "" %>
    <% musicmoz = "" %>
    <% dmoz = "" %>
    <% youtube = "" %>
    <% linkedin = "" %>
    <% tumblr = "" %>
    <% myspace = "" %>
    <% plus_google = "" %>
    <% pinterest = "" %>
    <% matome_naver = "" %>
    <% okwave = "" %>

    <%# その他のまとめ ####################################################################################################### %>
    <% if backlink_urls.include?(".gr.") || backlink_urls.include?(".nic.") || backlink_urls.include?(".nytimes.com") ||
        backlink_urls.include?(".reuters.com") || backlink_urls.include?(".washingtonpost.com") || backlink_urls.include?(".nbc.com") %>
        <% etc = image_tag(@etc, hspace: 1) %>
    <% end %>

    <%# 政府機関のまとめ ####################################################################################################### %>
    <% if backlink_urls.include?(".gov/") || backlink_urls.include?(".gov.") || backlink_urls.include?(".go.") %>
        <% gov = image_tag(@gov, hspace: 1) %>
    <% end %>

    <%# 教育機関のまとめ ####################################################################################################### %>
    <% if backlink_urls.include?(".ac.") || backlink_urls.include?(".edu/") || backlink_urls.include?(".edu.") %>
        <% edu = image_tag(@edu, hspace: 1) %>
    <% end %>

    <% if backlink_urls.include?(".wikipedia.org") %><%# wikipedia %>
        <%# wikipedia = "[wikipedia]" %>
        <% wikipedia = image_tag(@wikipedia, hspace: 1) %>
    <% end %>

    <% if backlink_urls.include?(".cn/") || backlink_urls.include?(".cn.") %><%# 中国 china のみテーブルの別の列で表示させる %>
        <%# china = "[中国]" %>
        <% china = image_tag(@china, hspace: 1) %>
    <% end %>

    <% if backlink_urls.include?(".or.") %><%# 非営利法人 %>
        <%# or_ = "[.or]" %>
        <% or_ = image_tag(@corp, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?(".facebook.com") %>
        <%# facebook = "[facebook]" %>
        <% facebook = image_tag(@facebook, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?("//twitter.com") || backlink_urls.include?(".twitter.com") %>
        <%# twitter = "[twitter]" %>
        <% twitter = image_tag(@twitter, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?(".museum/") || backlink_urls.include?(".museum.") %>
        <%# museum = "[.museum]" %>
        <% museum = image_tag(@muse, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?("//musicmoz.org") || backlink_urls.include?(".musicmoz.org") %>
        <%# musicmoz = "[musicmoz]" %>
        <% musicmoz = image_tag(@musicmoz, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?("//dmoz.org") || backlink_urls.include?(".dmoz.org") %>
        <%# dmoz = "[dmoz]" %>
        <% dmoz = image_tag(@dmoz, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?(".youtube.com") %>
        <%# youtube = "[youtube]" %>
        <% youtube = image_tag(@youtube, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?(".linkedin.com") %>
        <%# linkedin = "[linkedin]" %>
        <% linkedin = image_tag(@linkedin, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?(".tumblr") %>
        <%# tumblr = "[tumblr]" %>
        <% tumblr = image_tag(@tumblr, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?("//myspace.com") %>
        <%# myspace = "[myspace]" %>
        <% myspace = image_tag(@myspace, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?("plus.google.com") %>
        <%# plus_google = "[googleplus]" %>
        <% plus_google = image_tag(@googleplus, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?(".pinterest.com") %>
        <%# pinterest = "[pinterest]" %>
        <% pinterest = image_tag(@pinterest, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?(".matome.naver.jp/") %>
        <%# matome_naver = "[naverまとめ]" %>
        <% matome_naver = image_tag(@naver, hspace: 1) %>
    <% end %>
    
    <% if backlink_urls.include?("okwave.jp/") %>
        <%# okwave = "[okwave]" %>
        <% okwave = image_tag(@okwave, hspace: 1) %>
    <% end %>
    
    <%# china のみテーブルの別の列で表示させる %>
    <% bl_syurui = etc + wikipedia + or_ + facebook + twitter + gov + edu + museum + musicmoz + dmoz + youtube + linkedin + tumblr + myspace + plus_google + pinterest + matome_naver + okwave %>
    <%# バックリンクの種類判定の処理 ここまで ############################################### %>

    <tr>
      <td nowrap class="domain"><input type="checkbox" id="row_<%= each_count+1 %>" value="1" name="row_<%= each_count+1 %>"><%= d.name %></td><%# name %>
      <td class="pr"><%= d.pr %></td><%# pr %>
      <!-- <td nowrap><a href="domain/bigcatphotography_org.html" class="popup">BL詳細</a></td> --><%# BL詳細 %>
      <td class="blsyousai"><%= link_to "BL詳細", domain_path(d.id), class: "popup" %></td><%# BL詳細 %>
      <!-- <td nowrap><a href="http://web.archive.org/web/*/bigcatphotography.org" class="popup">wybk</a></td> --><%# wayback %>
      <td class="wayback"><%= link_to "wybk", d.wayback, class: "popup" %></td><%# wayback %>
      <!-- <td nowrap><a href="http://seocheki.net/site-check.php?u=www.bigcatphotography.org" class="popup">ﾁｪｷ</a></td> --><%# seocheki %>
      <td class="cheki"><%= link_to "ﾁｪｷ", d.seocheki, class: "popup" %></td><%# seocheki %>
      <td class="index_count"><%= d.index_count %></td><%# index_count %>
      <td class="dofollow_pr"><%= d.dofollow_pr %></td><%# dofollow_pr %>
      <td class="nofollow_pr"><%= d.nofollow_pr %></td><%# nofollow_pr %>
      <td class="ip_bunsanritsu"><%= d.ip_bunsanritsu %>%</td><%# IP分散率 ip_bunsanritsu %>
      <td class="ip_unique_count"><%= d.ip_unique_count %></td><%# ip_unique_count 重複しないIP %>
      <td class="ip_all_count"><%= d.ip_all_count %></td><%# ip_all_count 全IP数 %>
      <td class="china"><%= china %></td><%# china 中国リンク %>
      <!-- <td></td> --><%# 要注意 %>
      <td class="moz_rank"><%= d.moz_rank %></td><%# moz_rank %>
      <td class="moz_da"><%= d.moz_da %></td><%# moz_da %>
      <td class="moz_pa"><%= d.moz_pa %></td><%# moz_pa %>
      <!-- <td>33</td> --><%# ahref dr %>
      <!-- <td>17</td> --><%# ahref bld %>
      <td class="awy"><%= d.awy %></td><%# awy %>
      <td nowrap><%= bl_syurui.html_safe %></td>
    </tr>
    
    <% each_count += 1 %>
  <% end %>
  </tbody>
</table>
</div>




<script>
$(function() {
  // th row
  $('[id^="row_"]').click(function(event){
    event.stopPropagation();
    $auto_line_color();
  });
  $('[id^="row_"]').parent('th').click(function(event){
    $(this).children('[id^="row_"]').trigger('click');
  });
  $('label[for^="row_"]').click(function(event) {
    event.preventDefault();
  });

  var $auto_line_color = function() {
    // checked row list
    var $row_list = $('[id^="row_"]:checked');
    var $ary_row_index = [];
    $row_list.each(function() {
      $ary_row_index.push(parseInt($(this).attr('id').slice(4)));
    });

    $('table tbody th').css('background', '');
    $('table tbody td').css('background', '');

    for($j in $ary_row_index) {
      $('table tbody tr:nth-child('+$ary_row_index[$j]+') th').css('background', '#EFEBC2');
      $('table tbody tr:nth-child('+$ary_row_index[$j]+') td').css('background', '#EFEBC2');
    }// end for
  }// end function
  $auto_line_color();
});
</script>

<script type="text/javascript">
//popupで別窓
$(function() {
	$(".popup").click(function(){
        	window.open(this.href, "waku1","width=500,height=700,resizable=yes,scrollbars=yes,createnew=no");
		return false;
	});
});
</script>
